@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #f4f4f4;
}

::selection {
  color: #2137d8;
  background-color: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-gothic-a1);
  --font-mono: var(--font-geist-mono);
  --color-main: #2137d8;
  --color-subLight: #59B9C6;
  --color-subDark: #2B313F;
  --color-subWhite: #D5E3D2;
  --color-black: #222;
}

@layer {
  .font-point-bold {
    font-family: 'OffbitBold';
  }

  .font-point-dot {
    font-family: "OffbitDot";
  }

  .font-wagon-bold {
    font-family: "WagonBold";
  }

  .font-wagon-italic {
    font-family: "WagonItalic";
  }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "OffbitBold";
  src: url("/font/OffBitTrial-Bold.ttf");
}

@font-face {
  font-family: "OffbitDot";
  src: url("/font/OffBitTrial-Dot.ttf");
}

@font-face {
  font-family: "WagonBold";
  src: url("/font/Wagon-Bold.otf");
}

@font-face {
  font-family: "WagonItalic";
  src: url("/font/Wagon-ExtraLightItalic.otf");
}